
a:visited {
    color: white;
}

a:link {
    text-decoration: none;
}


.baker-park-Page {
    text-align: initial;
    background-color: #CBD2D0;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #61dafb;
}

.baker-park-Page-Header {
    text-align: center;
    background-color: #731963;
    height: 100px;
}

.baker-park-Page-Column {
    background-color: #0B3C49;
    height: 1200px;
    float: left;
    width: 270px;
}


.baker-park-Page-Home-Link {
    padding-top: 10px;
    font-size: 40px;
    display: block;
}

.baker-park-Page-Naples-Link {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 32px;
    display: block;
}

.baker-park-Page-Ft-Myers-Link {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 32px;
    display: block;
}


.baker-park-Page-Body {
    font-size: 40px;
    text-align: center;
    margin-left: 270px;
    height: 1170px;
    padding-left: 40px;
    padding-top: 30px;
    color: black;
}

.baker-park-Location-List {
    text-align: left;
    font-size: 32px;
}